.chat-message-user{
          display: flex;
          justify-content: right;
          align-items: start;
        }
        .chat-message-text{
          background-color: rgb(238,238,238);
          font-family: arial;
          padding: 15px 20px;
          margin-left: 10px;
          margin-right: 10px;
          margin: bottom 20px; 
          max-width: 300px;
          

        }
        .chat-message-robot{
          display:flex;
          justify-content: left;
          align-items: start;
        }
       